<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js" defer></script>

    <title>Project 3</title>
</head>
<body class="bg-dark text-white" id="vapp">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  
                  <template v-if="!isLogin">
                    <li v-if="isLogin" class="nav-item">
                        <a class="nav-link" href="#">SignUp</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">SignIn</a>
                      </li>
                  </template>
                  <template v-else>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                  </template>
                  
                  

                </ul>
              </div>
            </div>
          </nav>
    </div>

    <div class="container">
        
    </div>
</body>
</html>

